---
import { Image } from 'astro:assets';
import { siteConfig } from '../config.ts';
import remiPaulPhoto1 from '../photo/remi-paul1.jpeg';
import testtt from '../photo/test2.png';


---

<section id="presentation" class="relative bg-white px-4 py-20 sm:px-6 lg:px-8">
  <div class="mx-auto max-w-7xl">

    <!-- Titre et sous-titre -->
    <div class="scroll-fade-up mx-auto mb-16 max-w-3xl text-center">
      <h2 class="text-mono-black mb-4 text-4xl font-bold sm:text-5xl">
        {siteConfig.presentation.title}
      </h2>
      <p class="text-mono-dark text-xl">
        {siteConfig.presentation.subtitle}
      </p>
    </div>

    <!-- Bulles verticales avec photos et descriptions -->
    <div class="flex flex-col md:flex-row md:space-x-12 space-y-8 md:space-y-0 justify-center items-center">
      
      <!-- Bulle 1 -->
      <div class="flex flex-col md:flex-row items-center bg-mono-light rounded-xl p-8 shadow-lg">
        <img src={"/SMART_COACH/test.jpg"} alt="Paul" class="rounded-full w-32 h-32 md:mr-6 mb-4 md:mb-0 shadow-md"/>
        <div class="text-center md:text-left">
          <h3 class="text-mono-black text-xl font-semibold">Notre histoire</h3>
          <p class="text-mono-dark mt-2 leading-relaxed">
            Nous nous sommes rencontrés, il y a 5 ans en DUT génie-civil. A l'époque je "(Paul)" jouait au football et Rémi performait dans le domaine du Judo. Par la suite nous avons découvert la course à pied et le triathlon. Dans cette période d'émergence de l'intelligece artificielle et avec le peu de connaissance que nous avions, nous avons commencé à utiliser l'IA pour réaliser nos programmations mais nous regrettions qu'elle ne soit pas connectés à nos performances pour pouvoir être plus juste dans ses analyses. Nous regrettions aussi de ne pas savoir sur quelle étude, se base t-elle pour adapter les programmes à nos performances blessures etc. 
          </p>
        </div>
      </div>


      <!-- Bulle 2 -->
      <div class="flex flex-col md:flex-row items-center bg-mono-light rounded-xl p-8 shadow-lg">
        <img src={"/SMART_COACH/remi-paul.jpg"} alt="[Nom]" class="rounded-full w-32 h-32 md:mr-6 mb-4 md:mb-0 shadow-md">
        <div class="text-center md:text-left">
          <h3 class="text-mono-black text-xl font-semibold">[Nom] – Designer</h3>
          <p class="text-mono-dark mt-2 leading-relaxed">
            Passionné par [description courte du rôle ou compétence], [Nom] apporte la créativité et le design à notre application.
          </p>
        </div>
      </div>

    </div>
  </div>
</section>

